<body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>

  <h1>About Andrew</h1>
  <h2>A 32 year old web developer, currently experiencing homelessness.</h2>

  <p>I am currently homeless and am working on getting my way out of my current situation.</p>

  <p>I am a skilled web developer, avid learner, and empathetic soul. I strive to live my life in the most intentional and enjoyable way I possibly can.</p>

</body>
