---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Andrew's Dev Blog";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog about web development and what I'm learning.</h2>
</BaseLayout>
