---
const pageTitle="The Weismind Blog";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>

		<h1>{pageTitle}</h1>
		<h2>A blog by Andrew Weisbeck about life.</h2>
		<p>Hello, I'm Andrew! Welcome to my new blog I created with Astro!</p>
	</body>
</html>
