<div class="w-100 top-20 left-12 m-0">
    <a class="hover:bg-sky-600 text-sky-600 hover:text-[#fff] focus:bg-[#ff9776] text-center px-2.5 py-0 text-2xl font-bold uppercase" href="/">Home</a>
    <a class="hover:bg-sky-600 text-sky-600 hover:text-[#fff] focus:bg-[#ff9776] text-center px-2.5 py-0 text-2xl font-bold uppercase" href="/about/" data-astro-reload>About</a>
    <a class="hover:bg-sky-600 text-sky-600 hover:text-[#fff] focus:bg-[#ff9776] text-center px-2.5 py-0 text-2xl font-bold uppercase" href="/blog/">Blog</a>
    <a class="hover:bg-sky-600 text-sky-600 hover:text-[#fff] focus:bg-[#ff9776] text-center px-2.5 py-0 text-2xl font-bold uppercase" href="/tags/">Tags</a>
</div>

