---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;

import { SEO } from "astro-seo";
---
<html class="bg-[#f1f5f9] dark:bg-[#0d0950] dark:text-[#fff] font-sans" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />

    <SEO
      title="GeauxWeisbeck4 Personal Blog"
      description="The most awesome personal blog ever created - by Andrew Weisbeck."
      openGraph={{
        basic: {
          title: "The Personal Blog of Andrew Weisbeck",
          type: "Blog",
          image: "https://twitter.com/GeauxWeisbeck4/photo",
        }
      }}
      twitter={{
        creator: "@geauxweisbeck4"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "https://twitter.com/GeauxWeisbeck4/photo",
          },
          { name: "twitter:title", content: "GeauxWeisbeck4" },
          { name: "twitter:description", content: "Agent" },
        ],
      }}
    />
  </head>
  <body class="mx-0 my-auto w-auto max-w-screen-lg">
    <Header />
    <h1 transition:animate="slide">{pageTitle}</h1>
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
